In [1]:
# Module importieren
import pandas as pd
import numpy as np

In [2]:
# bfs Daten einlesen
df = pd.read_excel("bfs_Religionsstatistik_Schweiz.xlsx", skiprows=1, nrows = 19, usecols="A, D:S")
df

,Unnamed: 0,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Nationalität,Römisch-katholisch,NaN,Evangelisch-reformiert,NaN,Andere christliche Gemeinschaften,NaN,Jüdische Gemeinschaften,NaN,Islamische Gemeinschaften,NaN,Andere Religionsgemeinschaften,NaN,Ohne Religionszugehörigkeit,NaN,Ohne Angabe,NaN
1,NaN,Anzahl Personen,Vertrauensintervall: \n± (in %),Anzahl Personen,Vertrauensintervall: \n± (in %),Anzahl Personen,Vertrauensintervall: \n± (in %),Anzahl Personen,Vertrauensintervall: \n± (in %),Anzahl Personen,Vertrauensintervall: \n± (in %),Anzahl Personen,Vertrauensintervall: \n± (in %),Anzahl Personen,Vertrauensintervall: \n± (in %),Anzahl Personen,Vertrauensintervall: \n± (in %)
2,Total,2485737,0.21959,1639936,0.300035,409025,0.714854,17174,3.42262,380135,0.78682,93769,1.543647,1974080,0.274488,84523,1.541073
3,Schweiz,1874682,0.26344,1563116,0.308556,259115,0.882515,11801,4.042843,137830,1.230865,47078,2.100312,1395880,0.33915,60862,1.791129
4,Deutschland,54992,2.058161,48157,2.195427,10260,4.812654,480.56755,21.921138,4380,7.493472,1587,12.678734,136536,1.30938,1935,11.190168
5,Frankreich,31638,2.349987,2131,9.106139,2410,8.551249,1031,12.584691,3340,7.281738,969.42516,13.70716,64419,1.65149,1785,9.514786
6,Spanien,39631,2.278523,475.93934,21.166274,1666,10.955695,(73),(51.0),537.92271,20.379489,305.38397,25.933125,26653,2.837809,1024,13.239844
7,Portugal,149584,1.181128,825.66218,15.844682,4881,6.57285,(86),(50.7),896.8176,15.576533,657.31149,17.805458,52363,1.945436,4003,7.017908
8,Italien,200027,0.992911,1590,11.228028,9059,4.755049,254.2153,26.323204,6219,6.422565,1019,14.250084,55932,1.915662,3619,7.182691
9,Balkanstaaten1,10981,4.866237,(165),(40.3),44219,2.433349,368.27437,27.609568,128512,1.455896,602.9407,20.550411,29988,3.007183,3427,8.757348
10,Türkei,(178),(39.7),(128),(45.1),793.48662,18.076887,(51),(59.7),37440,2.69736,519.77598,23.23086,15981,4.121755,755.30739,18.643041
11,Übriges Europa,82651,1.692676,12554,4.235731,44346,2.271322,1244,13.143004,5768,6.70193,1983,10.764702,125277,1.363466,2718,9.222833
12,Nordafrikanische Länder2,(90),(48.9),(36),(83.1),353.08497,25.530936,X,X,13395,3.99359,(43),(67.4),3382,7.671244,368.62531,23.920187
13,Subsahara-Afrika,9772,4.909292,4829,7.061937,21244,3.522296,644.12353,22.039433,9888,5.099164,547.73113,20.441542,5665,6.44157,1045,15.471835
14,Mittlerer Osten3,988.31491,15.203094,302.79901,28.966754,1245,13.914215,512.42093,21.173445,16759,3.971469,429.59203,24.918788,6418,6.187698,515.43533,22.158357
15,Übriges Asien,7656,5.563064,1587,12.348056,3148,8.689941,(54),(60.5),13691,4.451686,37040,2.578398,23215,3.164109,1670,12.303436
16,Amerika und Karibik,22512,3.091032,3906,7.634154,5939,5.817339,545.50241,19.741615,475.4417,21.224653,885.26945,15.951836,29971,2.730012,765.6258,16.129771
17,Ozeanien,317.64715,25.540964,(119),(42.8),262.37163,27.756409,X,X,X,X,(60),(61.9),2205,10.074067,X,X
18,Andere (ohne Angabe),(36),(88.2),X,X,(85),(54.1),X,X,976.6818,16.901205,(41),(84.7),(196),(36.7),X,X

In [3]:
head1 = list(df.iloc[0])
head2 = list(df.iloc[1])

header = list(zip(head1, head2))
df.columns = header
display(df)

cols = list(range(2,17,2))
print(cols)

df.drop(df.columns[(cols)], axis = 1, inplace = True)

,"(Nationalität, nan)","(Römisch-katholisch, Anzahl Personen)","(nan, Vertrauensintervall: \n± (in %))","(Evangelisch-reformiert, Anzahl Personen)","(nan, Vertrauensintervall: \n± (in %))","(Andere christliche Gemeinschaften, Anzahl Personen)","(nan, Vertrauensintervall: \n± (in %))","(Jüdische Gemeinschaften, Anzahl Personen)","(nan, Vertrauensintervall: \n± (in %))","(Islamische Gemeinschaften, Anzahl Personen)","(nan, Vertrauensintervall: \n± (in %))","(Andere Religionsgemeinschaften, Anzahl Personen)","(nan, Vertrauensintervall: \n± (in %))","(Ohne Religionszugehörigkeit, Anzahl Personen)","(nan, Vertrauensintervall: \n± (in %))","(Ohne Angabe, Anzahl Personen)","(nan, Vertrauensintervall: \n± (in %))"
0,Nationalität,Römisch-katholisch,NaN,Evangelisch-reformiert,NaN,Andere christliche Gemeinschaften,NaN,Jüdische Gemeinschaften,NaN,Islamische Gemeinschaften,NaN,Andere Religionsgemeinschaften,NaN,Ohne Religionszugehörigkeit,NaN,Ohne Angabe,NaN
1,NaN,Anzahl Personen,Vertrauensintervall: \n± (in %),Anzahl Personen,Vertrauensintervall: \n± (in %),Anzahl Personen,Vertrauensintervall: \n± (in %),Anzahl Personen,Vertrauensintervall: \n± (in %),Anzahl Personen,Vertrauensintervall: \n± (in %),Anzahl Personen,Vertrauensintervall: \n± (in %),Anzahl Personen,Vertrauensintervall: \n± (in %),Anzahl Personen,Vertrauensintervall: \n± (in %)
2,Total,2485737,0.21959,1639936,0.300035,409025,0.714854,17174,3.42262,380135,0.78682,93769,1.543647,1974080,0.274488,84523,1.541073
3,Schweiz,1874682,0.26344,1563116,0.308556,259115,0.882515,11801,4.042843,137830,1.230865,47078,2.100312,1395880,0.33915,60862,1.791129
4,Deutschland,54992,2.058161,48157,2.195427,10260,4.812654,480.56755,21.921138,4380,7.493472,1587,12.678734,136536,1.30938,1935,11.190168
5,Frankreich,31638,2.349987,2131,9.106139,2410,8.551249,1031,12.584691,3340,7.281738,969.42516,13.70716,64419,1.65149,1785,9.514786
6,Spanien,39631,2.278523,475.93934,21.166274,1666,10.955695,(73),(51.0),537.92271,20.379489,305.38397,25.933125,26653,2.837809,1024,13.239844
7,Portugal,149584,1.181128,825.66218,15.844682,4881,6.57285,(86),(50.7),896.8176,15.576533,657.31149,17.805458,52363,1.945436,4003,7.017908
8,Italien,200027,0.992911,1590,11.228028,9059,4.755049,254.2153,26.323204,6219,6.422565,1019,14.250084,55932,1.915662,3619,7.182691
9,Balkanstaaten1,10981,4.866237,(165),(40.3),44219,2.433349,368.27437,27.609568,128512,1.455896,602.9407,20.550411,29988,3.007183,3427,8.757348
10,Türkei,(178),(39.7),(128),(45.1),793.48662,18.076887,(51),(59.7),37440,2.69736,519.77598,23.23086,15981,4.121755,755.30739,18.643041
11,Übriges Europa,82651,1.692676,12554,4.235731,44346,2.271322,1244,13.143004,5768,6.70193,1983,10.764702,125277,1.363466,2718,9.222833
12,Nordafrikanische Länder2,(90),(48.9),(36),(83.1),353.08497,25.530936,X,X,13395,3.99359,(43),(67.4),3382,7.671244,368.62531,23.920187
13,Subsahara-Afrika,9772,4.909292,4829,7.061937,21244,3.522296,644.12353,22.039433,9888,5.099164,547.73113,20.441542,5665,6.44157,1045,15.471835
14,Mittlerer Osten3,988.31491,15.203094,302.79901,28.966754,1245,13.914215,512.42093,21.173445,16759,3.971469,429.59203,24.918788,6418,6.187698,515.43533,22.158357
15,Übriges Asien,7656,5.563064,1587,12.348056,3148,8.689941,(54),(60.5),13691,4.451686,37040,2.578398,23215,3.164109,1670,12.303436
16,Amerika und Karibik,22512,3.091032,3906,7.634154,5939,5.817339,545.50241,19.741615,475.4417,21.224653,885.26945,15.951836,29971,2.730012,765.6258,16.129771
17,Ozeanien,317.64715,25.540964,(119),(42.8),262.37163,27.756409,X,X,X,X,(60),(61.9),2205,10.074067,X,X
18,Andere (ohne Angabe),(36),(88.2),X,X,(85),(54.1),X,X,976.6818,16.901205,(41),(84.7),(196),(36.7),X,X

[2, 4, 6, 8, 10, 12, 14, 16]

In [4]:
df.rename({df.columns[0]: "Nationalitaet"}, axis = 1, inplace = True)

In [5]:
df

,Nationalitaet,"(Römisch-katholisch, Anzahl Personen)","(Evangelisch-reformiert, Anzahl Personen)","(Andere christliche Gemeinschaften, Anzahl Personen)","(Jüdische Gemeinschaften, Anzahl Personen)","(Islamische Gemeinschaften, Anzahl Personen)","(Andere Religionsgemeinschaften, Anzahl Personen)","(Ohne Religionszugehörigkeit, Anzahl Personen)","(Ohne Angabe, Anzahl Personen)"
0,Nationalität,Römisch-katholisch,Evangelisch-reformiert,Andere christliche Gemeinschaften,Jüdische Gemeinschaften,Islamische Gemeinschaften,Andere Religionsgemeinschaften,Ohne Religionszugehörigkeit,Ohne Angabe
1,NaN,Anzahl Personen,Anzahl Personen,Anzahl Personen,Anzahl Personen,Anzahl Personen,Anzahl Personen,Anzahl Personen,Anzahl Personen
2,Total,2485737,1639936,409025,17174,380135,93769,1974080,84523
3,Schweiz,1874682,1563116,259115,11801,137830,47078,1395880,60862
4,Deutschland,54992,48157,10260,480.56755,4380,1587,136536,1935
5,Frankreich,31638,2131,2410,1031,3340,969.42516,64419,1785
6,Spanien,39631,475.93934,1666,(73),537.92271,305.38397,26653,1024
7,Portugal,149584,825.66218,4881,(86),896.8176,657.31149,52363,4003
8,Italien,200027,1590,9059,254.2153,6219,1019,55932,3619
9,Balkanstaaten1,10981,(165),44219,368.27437,128512,602.9407,29988,3427
10,Türkei,(178),(128),793.48662,(51),37440,519.77598,15981,755.30739
11,Übriges Europa,82651,12554,44346,1244,5768,1983,125277,2718
12,Nordafrikanische Länder2,(90),(36),353.08497,X,13395,(43),3382,368.62531
13,Subsahara-Afrika,9772,4829,21244,644.12353,9888,547.73113,5665,1045
14,Mittlerer Osten3,988.31491,302.79901,1245,512.42093,16759,429.59203,6418,515.43533
15,Übriges Asien,7656,1587,3148,(54),13691,37040,23215,1670
16,Amerika und Karibik,22512,3906,5939,545.50241,475.4417,885.26945,29971,765.6258
17,Ozeanien,317.64715,(119),262.37163,X,X,(60),2205,X
18,Andere (ohne Angabe),(36),X,(85),X,976.6818,(41),(196),X

In [6]:
df.replace("X", np.nan, inplace = True)

In [7]:
df.drop(0, axis = 0, inplace = True)
df.drop(1, axis = 0, inplace = True)
df

,Nationalitaet,"(Römisch-katholisch, Anzahl Personen)","(Evangelisch-reformiert, Anzahl Personen)","(Andere christliche Gemeinschaften, Anzahl Personen)","(Jüdische Gemeinschaften, Anzahl Personen)","(Islamische Gemeinschaften, Anzahl Personen)","(Andere Religionsgemeinschaften, Anzahl Personen)","(Ohne Religionszugehörigkeit, Anzahl Personen)","(Ohne Angabe, Anzahl Personen)"
2,Total,2485737,1639936,409025,17174,380135,93769,1974080,84523
3,Schweiz,1874682,1563116,259115,11801,137830,47078,1395880,60862
4,Deutschland,54992,48157,10260,480.56755,4380,1587,136536,1935
5,Frankreich,31638,2131,2410,1031,3340,969.42516,64419,1785
6,Spanien,39631,475.93934,1666,(73),537.92271,305.38397,26653,1024
7,Portugal,149584,825.66218,4881,(86),896.8176,657.31149,52363,4003
8,Italien,200027,1590,9059,254.2153,6219,1019,55932,3619
9,Balkanstaaten1,10981,(165),44219,368.27437,128512,602.9407,29988,3427
10,Türkei,(178),(128),793.48662,(51),37440,519.77598,15981,755.30739
11,Übriges Europa,82651,12554,44346,1244,5768,1983,125277,2718
12,Nordafrikanische Länder2,(90),(36),353.08497,NaN,13395,(43),3382,368.62531
13,Subsahara-Afrika,9772,4829,21244,644.12353,9888,547.73113,5665,1045
14,Mittlerer Osten3,988.31491,302.79901,1245,512.42093,16759,429.59203,6418,515.43533
15,Übriges Asien,7656,1587,3148,(54),13691,37040,23215,1670
16,Amerika und Karibik,22512,3906,5939,545.50241,475.4417,885.26945,29971,765.6258
17,Ozeanien,317.64715,(119),262.37163,NaN,NaN,(60),2205,NaN
18,Andere (ohne Angabe),(36),NaN,(85),NaN,976.6818,(41),(196),NaN

In [8]:
df.reset_index(drop = True, inplace = True)

In [9]:
df

,Nationalitaet,"(Römisch-katholisch, Anzahl Personen)","(Evangelisch-reformiert, Anzahl Personen)","(Andere christliche Gemeinschaften, Anzahl Personen)","(Jüdische Gemeinschaften, Anzahl Personen)","(Islamische Gemeinschaften, Anzahl Personen)","(Andere Religionsgemeinschaften, Anzahl Personen)","(Ohne Religionszugehörigkeit, Anzahl Personen)","(Ohne Angabe, Anzahl Personen)"
0,Total,2485737,1639936,409025,17174,380135,93769,1974080,84523
1,Schweiz,1874682,1563116,259115,11801,137830,47078,1395880,60862
2,Deutschland,54992,48157,10260,480.56755,4380,1587,136536,1935
3,Frankreich,31638,2131,2410,1031,3340,969.42516,64419,1785
4,Spanien,39631,475.93934,1666,(73),537.92271,305.38397,26653,1024
5,Portugal,149584,825.66218,4881,(86),896.8176,657.31149,52363,4003
6,Italien,200027,1590,9059,254.2153,6219,1019,55932,3619
7,Balkanstaaten1,10981,(165),44219,368.27437,128512,602.9407,29988,3427
8,Türkei,(178),(128),793.48662,(51),37440,519.77598,15981,755.30739
9,Übriges Europa,82651,12554,44346,1244,5768,1983,125277,2718
10,Nordafrikanische Länder2,(90),(36),353.08497,NaN,13395,(43),3382,368.62531
11,Subsahara-Afrika,9772,4829,21244,644.12353,9888,547.73113,5665,1045
12,Mittlerer Osten3,988.31491,302.79901,1245,512.42093,16759,429.59203,6418,515.43533
13,Übriges Asien,7656,1587,3148,(54),13691,37040,23215,1670
14,Amerika und Karibik,22512,3906,5939,545.50241,475.4417,885.26945,29971,765.6258
15,Ozeanien,317.64715,(119),262.37163,NaN,NaN,(60),2205,NaN
16,Andere (ohne Angabe),(36),NaN,(85),NaN,976.6818,(41),(196),NaN

In [10]:
df.columns[1:]

head_new = [x[0] for x in list(df.columns[1:])]
header_new = dict(zip(df.columns[1:], head_new))
df.rename(header_new, axis = 1, inplace = True)

In [11]:
df

,Nationalitaet,Römisch-katholisch,Evangelisch-reformiert,Andere christliche Gemeinschaften,Jüdische Gemeinschaften,Islamische Gemeinschaften,Andere Religionsgemeinschaften,Ohne Religionszugehörigkeit,Ohne Angabe
0,Total,2485737,1639936,409025,17174,380135,93769,1974080,84523
1,Schweiz,1874682,1563116,259115,11801,137830,47078,1395880,60862
2,Deutschland,54992,48157,10260,480.56755,4380,1587,136536,1935
3,Frankreich,31638,2131,2410,1031,3340,969.42516,64419,1785
4,Spanien,39631,475.93934,1666,(73),537.92271,305.38397,26653,1024
5,Portugal,149584,825.66218,4881,(86),896.8176,657.31149,52363,4003
6,Italien,200027,1590,9059,254.2153,6219,1019,55932,3619
7,Balkanstaaten1,10981,(165),44219,368.27437,128512,602.9407,29988,3427
8,Türkei,(178),(128),793.48662,(51),37440,519.77598,15981,755.30739
9,Übriges Europa,82651,12554,44346,1244,5768,1983,125277,2718
10,Nordafrikanische Länder2,(90),(36),353.08497,NaN,13395,(43),3382,368.62531
11,Subsahara-Afrika,9772,4829,21244,644.12353,9888,547.73113,5665,1045
12,Mittlerer Osten3,988.31491,302.79901,1245,512.42093,16759,429.59203,6418,515.43533
13,Übriges Asien,7656,1587,3148,(54),13691,37040,23215,1670
14,Amerika und Karibik,22512,3906,5939,545.50241,475.4417,885.26945,29971,765.6258
15,Ozeanien,317.64715,(119),262.37163,NaN,NaN,(60),2205,NaN
16,Andere (ohne Angabe),(36),NaN,(85),NaN,976.6818,(41),(196),NaN

In [54]:
heading = df.columns[1:]
print(heading)

df.dtypes

Index(['Römisch-katholisch', 'Evangelisch-reformiert',
       'Andere christliche Gemeinschaften', 'Jüdische Gemeinschaften',
       'Islamische Gemeinschaften', 'Andere Religionsgemeinschaften',
       'Ohne Religionszugehörigkeit', 'Ohne Angabe'],
      dtype='object')

Nationalitaet                        object
Römisch-katholisch                   object
Evangelisch-reformiert               object
Andere christliche Gemeinschaften    object
Jüdische Gemeinschaften              object
Islamische Gemeinschaften            object
Andere Religionsgemeinschaften       object
Ohne Religionszugehörigkeit          object
Ohne Angabe                          object
dtype: object

In [60]:
   
df["Römisch-katholisch"] = df["Römisch-katholisch"].str.replace('\(', "", regex=True)    
   
df["Römisch-katholisch"] = df["Römisch-katholisch"].str.replace('\)', "", regex=True)

0       2485737
1       1874682
2         54992
3         31638
4         39631
5        149584
6        200027
7         10981
8           178
9         82651
10           90
11         9772
12    988.31491
13         7656
14        22512
15    317.64715
16           36
Name: Römisch-katholisch, dtype: object

In [ ]:
for col in heading:
    df[col] = df[col].str.replace('\(', "", regex=True)