In [1]:
# KNN Imputer verstehen
import pandas as pd
import numpy as np

from sklearn.impute import KNNImputer

In [2]:
# Kleines Pseudo DataFrame mit Na Values erstellen
# Daten fuer das DataFrame
data = {"Alter": [16,17,19,19], "Masse": [60,70,np.nan,80], "Groesse": [160,170,180,200]}

# DataFrame erstellen
df = pd.DataFrame(data)

# Kopfzeile
headers = df.columns # Kopfzeile

# Ausgabe
df

   Alter  Masse  Groesse
0     16   60.0      160
1     17   70.0      170
2     19    NaN      180
3     19   80.0      200

In [6]:
# KNN Imputer verwenden
df_knn = df.copy()
print(df_knn)
# knn_impute variabel erstellen
knn_impute = KNNImputer(n_neighbors=2)

# anwenden und df ueberschreiben
df_knn = knn_impute.fit_transform(df_knn)

# DataFrame wieder erstellen
df_knn = pd.DataFrame(df_knn)
df_knn.columns = headers

df_knn

   Alter  Masse  Groesse
0     16   60.0      160
1     17   70.0      170
2     19    NaN      180
3     19   80.0      200

   Alter  Masse  Groesse
0   16.0   60.0    160.0
1   17.0   70.0    170.0
2   19.0   75.0    180.0
3   19.0   80.0    200.0

In [7]:
# Wie kommt der KNN imputer auf den Wert 95?

# Distanzen berechnen 
dis1 = ((19 - 16)**2 + (180 - 160)**2)**0.5 # Zeile 0

dis2 = ((19 - 17)**2 + (180 - 170)**2)**0.5 # Zeile 1

dis3 = ((19 - 19)**2 + (180 - 200)**2)**0.5 # Zeile 3

print(dis1, dis2, dis3)

# n_neighbours = 2 => wert dis3, ist der zweit nahster Wert!
# Somit interesssant sind nur: dis3 und dis 2. (20.0 und 10.198)
# diese haben bei der Masse folgenden Wert: 70 und 80 (Zeile 1 und Zeile 3)
# Nun bildet man den mittelwert und erhaelt 75. 
# Dre NaN Wert

20.223748416156685 10.198039027185569 20.0