In [1]:
import pandas as pd
import numpy as np

In [101]:
data = {
    "col_1": ["(14)", "X", [321], 21, {25}, (245)],
    "col_2": [[14], "*", [242], {1}, "(124)", 21]}

df1 = pd.DataFrame(data)
display(df1)


data = {
    "col_1": [[1], [2], [3]],
    "col_2": ["(2)", "(2)", "(2)"],
    "col_3": [{25}, {26}, {27}]
}

df2 = pd.DataFrame(data)
df2

   col_1  col_2
0   (14)   [14]
1      X      *
2  [321]  [242]
3     21    {1}
4   {25}  (124)
5    245     21

  col_1 col_2 col_3
0   [1]   (2)  {25}
1   [2]   (2)  {26}
2   [3]   (2)  {27}

In [102]:
print(df1.dtypes)
print(df2.dtypes)

col_1    object
col_2    object
dtype: object
col_1    object
col_2    object
col_3    object
dtype: object

In [103]:
df2["col_1"] = df2["col_1"].str[0]
df2

   col_1 col_2 col_3
0      1   (2)  {25}
1      2   (2)  {26}
2      3   (2)  {27}

In [108]:
list(df2['col_3'].str)

C:\Users\Ben\AppData\Local\Temp\ipykernel_14396\4251785258.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  list(df2['col_3'].str)

[]

In [77]:
# replacing X und * values with np.nan
df1 = df.replace({"X": None, "*": None})
df1

   col_1  col_2
0   (14)   [14]
1   None   None
2  [321]  [242]
3     21    {1}
4   {25}  (124)
5    245     21

In [78]:
df1.dtypes

col_1    object
col_2    object
dtype: object

In [74]:
df["col_1"].apply(lambda x: x.replace('[', '').replace(']', ''))

AttributeError: 'list' object has no attribute 'replace'