In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame(
    {'a': [1,2,3], 
     'b': [{'x': 1, 'y': 2, 'z': 3}, {'x': 4, 'y': 5, 'z': 6}, {'x': 7, 'y': 8, 'z': 9}]}
)
df

   a                         b
0  1  {'x': 1, 'y': 2, 'z': 3}
1  2  {'x': 4, 'y': 5, 'z': 6}
2  3  {'x': 7, 'y': 8, 'z': 9}

Variante 1

In [10]:
unnested = pd.json_normalize(df["b"])
df_unsted = pd.concat([df["a"], unnested], axis = 1)
df_unsted

   a  x  y  z
0  1  1  2  3
1  2  4  5  6
2  3  7  8  9

Variante 2

In [20]:
unnested = pd.DataFrame.from_records(df["b"])
df_unsted = pd.concat([df["a"], unnested], axis = 1)
df_unsted

   a  x  y  z
0  1  1  2  3
1  2  4  5  6
2  3  7  8  9