In [1]:
import pandas as pd
import numpy as np

In [7]:
d1 = {"id": [1,2,3], "car1990": [10,20,30], "car2000": [40,403,10], "car2010": [40,503,394]}
df1 = pd.DataFrame(data = d1)


d2 = {"name": ["Ben", "Ju", "Flo"], "language": ["R", "Python", "SQL"], "level": [20,10,40]}
df2 = pd.DataFrame(data = d2)

In [10]:
df3 = pd.wide_to_long(df1, stubnames=["car"], i = "id", j = "Years")

In [11]:
df3

          car
id Years
1  1990    10
2  1990    20
3  1990    30
1  2000    40
2  2000   403
3  2000    10
1  2010    40
2  2010   503
3  2010   394