# Summarische Statistik

In [18]:
## Modul importieren
import numpy as np
import pandas as pd

In [19]:
homelessness = pd.read_csv("homelessness.csv", index_col="Unnamed: 0")
homelessness.head(3)

               region    state  individuals  family_members  state_pop
0  East South Central  Alabama       2570.0           864.0    4887681
1             Pacific   Alaska       1434.0           582.0     735139
2            Mountain  Arizona       7259.0          2606.0    7158024

In [20]:
# Mittelwert ausgeben
homele_indi_mean = homelessness["individuals"].mean()
print("Mittelwert", homele_indi_mean)

# Median ausgeben
homele_indi_median = homelessness["individuals"].median()
print("Median", homele_indi_median)

# Minimum ausgeben
homele_indi_min = homelessness["individuals"].min()
print("Minimum", homele_indi_min)

# Maximum ausgeben
homele_indi_max = homelessness["individuals"].max()
print("Maximum", homele_indi_max)

# Modus ausgeben
homele_indi_modus = homelessness["individuals"].mode()
print("Modus", homele_indi_modus)

# Standardabweichung
homele_indi_std = homelessness["individuals"].std()
print("Standardawbeichung", homele_indi_std)

# Varianz
homele_indi_var = homelessness["individuals"].var()
print("Varianz", homele_indi_var)

homele_indi_sum = homelessness["individuals"].sum()
print("Summe", homele_indi_sum)

homele_indi_quantile = homelessness["individuals"].quantile(0.6)
print("Quantile", homele_indi_quantile)

Mittelwert 7225.78431372549
Median 3082.0
Minimum 434.0
Maximum 109008.0
Modus 0    2280.0
1    3776.0
Name: individuals, dtype: float64
Standardawbeichung 15991.025083231812
Varianz 255712883.21254897
Summe 368515.0
Quantile 3993.0

In [24]:
def pct30(spalte):
    return spalte.quantile(0.3)

def pct40(spalte):
    return spalte.quantile(0.4)

## Aggregier Methode

In [26]:
homelessness["state_pop"].agg(pct30)

2092741.0

In [28]:
homelessness[["individuals", "state_pop"]].agg(pct30)

individuals       1745.0
state_pop      2092741.0
dtype: float64

In [29]:
homelessness["state_pop"].agg([pct30, pct40])

pct30    2092741.0
pct40    3148618.0
Name: state_pop, dtype: float64

## Werte kummulieren

In [32]:
homelessness["state_pop"].cumsum().head(3)
# Kumuliert die Spalte auf mittels +

0     4887681
1     5622820
2    12780844
Name: state_pop, dtype: int64

In [34]:
homelessness["individuals"].cumprod().head(4)
# Multipliziert die Spalte mittels *

0    2.570000e+03
1    3.685380e+06
2    2.675217e+10
3    6.099496e+13
Name: individuals, dtype: float64

In [36]:
homelessness["individuals"].cummax().head(5)

0      2570.0
1      2570.0
2      7259.0
3      7259.0
4    109008.0
Name: individuals, dtype: float64

In [37]:
homelessness["individuals"].cummin().head(5)

0    2570.0
1    1434.0
2    1434.0
3    1434.0
4    1434.0
Name: individuals, dtype: float64

# Sales Daten importieren

In [42]:
sales_data = pd.read_csv("sales_subset.csv", index_col="Unnamed: 0")
sales_data.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [43]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10774 entries, 0 to 10773
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10774 non-null  int64
 1   type                  10774 non-null  object
 2   department            10774 non-null  int64
 3   date                  10774 non-null  object
 4   weekly_sales          10774 non-null  float64
 5   is_holiday            10774 non-null  bool
 6   temperature_c         10774 non-null  float64
 7   fuel_price_usd_per_l  10774 non-null  float64
 8   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 768.1+ KB

In [46]:
sal_week_mean = sales_data["weekly_sales"].mean()
sal_week_median = sales_data["weekly_sales"].median()
print(sal_week_mean, sal_week_median)

23843.95014850566 12049.064999999999

In [52]:
sal_max_date = sales_data["date"].max()
sal_min_date = sales_data["date"].min()
print(sal_max_date, sal_min_date)

2012-10-26 2010-02-05